# Python venv
.venv/
venv/

# Simulation artifacts
sim/build/
sim/*.vcd
sim/*.fst
sim/*.log
urg.log


# Generated program files
programs/hex/*.bin
programs/hex/*.elf

# VCS build artifacts
simv
simv.daidir/
csrc/
ucli.key

.DS_Store
.vscode/
.idea/
*.swp
Thumbs.db
Desktop.ini
/cm.log
vdCovLog
.fsm.sch.verilog.xml
novas.conf
novas.rc
scripts/cov_report.py

# FPGA
rtl/fpga/build/
rtl/fpga/vivado_notes/
